.\#*
.*cache
.DS_Store*
*.egg*
.gradle/
.idea/
*.lock
*.log
.m2
.newt.netflix_environment.sh
.newt-*
*.o
*.so
.oracle_jre_usage/
*.py[cod]
.ssh/
*.swp
.tox/
.venv*/
.vscode/
.*version

*~
\#*#
_Dockerfile*
__pycache__/
build/
dist/
ehthumbs.db
Icon?
Thumbs.db

out/
tmp/
pretrained_models/
lvc/
separated/
outputs/
*.ipynb